.header {
    padding-left: 5%;
    padding-top: 2.5%;
    text-align: left;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 0.7;
    padding-bottom: 0;
  }

  p {
    display: inline;
    padding-right: 5%;
  }
  a {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    display: inline;
    list-style-type: none;
    margin:0;
    text-decoration: none;
    color: black;
  }

  .navigation {
    padding-left:5%;
    text-align: left;
    width: 70%
  }
  a:hover {
    color: #fb0069;
  }