.header {
    padding-top: 3.5%;
    text-align: center;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 0.6;
    padding-bottom: 10pt;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  body{
    text-align: center;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    line-height: 0.6;
  }
  li {
    display: inline;
    padding:2pt;
    }

  @media screen and (min-width: 1170px) {
      .desktop-video {
        display: block !important;
        width: 100%;
        height:auto;
        padding-top:1%;
        padding-bottom:2%;
        text-align: center;
        overflow: hidden;
      }
    }
    /* Display the mobile video on screens 1010px and narrower */
  @media screen and (max-width: 1170px) {
      .mobile-video {
        display: block !important;
        width: 100%;
        height:auto;
        padding-top:1%;
      }
    }
    
  a {
    text-align: center;
    display: inline;
    list-style-type: none;
    margin:0;
    text-decoration: none;
    color: black;
  }

  .contact{
    font-size:15pt;
  }

  
  .video_container {
    padding-top:1%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    overflow: hidden;
    display: block;
    height: auto;
  }
  
  
  .navbar{
    padding-left: 5%;
    padding-right:5%;
  }
  p {
    font-size: 9pt;
    color: #868686;
  }
  a:hover {
    color: #FF005E;
  }
  
  i{
    color:#868686;
    font-size: 18pt;
  }
  i:hover{
    color: #FF005E;
  }