.header {
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3.5%;
    text-align: center;
    background: white;
    color: rgba(0, 0, 0, 0.833);
    font-size: 15px;
    line-height: 0.6;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{ 
    text-align: left;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 20%;
}

  li {
    display: inline;
    padding:2pt;
    }

  @media screen and (min-width: 1170px) {
      .desktop-video {
        display: block !important;
        width: 100%;
        height:auto;
        text-align: center;
      }
    }
    /* Display the mobile video on screens 1010px and narrower */
  @media screen and (max-width: 1170px) {
      .mobile-video {
        display: block !important;
        width: 100%;
        height:auto;
      }
    }
    
  a {
    text-align: center;
    display: inline;
    list-style-type: none;
    margin:0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.833);
  }

  .contact{
    font-size:15pt;
  }

  
  .video_container {
    padding-top:1%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
  }
  

  .navbar{
    padding: 220px;
    padding-left: 5%;
    padding-right:5%;
    text-align: center;
  }
  p {
    font-size: 10pt;
    color: #4b4b4b;
    display: inline;
  }

  a:hover {
    color: #FF005E;
  }
  
  i{
    padding-top:6pt;
    color:#4b4b4b;
    font-size: 18pt;

  }
  i:hover{
    color: #FF005E;
  }